<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Tic-Tac-Toe

  link(rel="stylesheet", href="css/style.css")
body
  .container
    .wrapper
      .box.box1
      .box.box2
      .box.box3
      .box.box4
      .box.box5
      .box.box6
      .box.box7
      .box.box8
      .box.box9
  script(type='text/javascript' src="https://code.jquery.com/jquery-1.11.3.min.js")
  script(type='text/javascript' src="app.js")
